@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

body {
  font-family: "Odibee Sans", cursive;
  /* background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%); */
  background-image: url("./assets/images/background_nature.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1 {
  /* color: #5aa824; */
  color: #64947c;
  letter-spacing: 5px;
  text-shadow: 2px 0 #5aa824, -2px#5aa824, 0 2#5aa824, 0 -2#5aa824, 1px 1#5aa824,
    -1px -1#5aa824, -1px 1#5aa824, 1px -1#5aa824;
}

button {
  height: 10vh;
  width: 20vw;
  font-size: 2rem;
  font-family: "Odibee Sans", cursive;
  border: none;
  border-radius: 10px;
  margin: 0 20px;
  color: white;
  background-color: rgb(29, 29, 29);
}

button:hover {
  background-color: green;
}

button[disabled] {
  opacity: 30%;
}
button[disabled]:hover {
  opacity: 30%;
  background-color: rgb(29, 29, 29);
}

.buttoncontainer {
  display: flex;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: black;
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: black;
  box-shadow: inset 0 0 5px black;
  cursor: url("./assets/images/watering-can.png"), default;
}

.circle:active {
  box-shadow: 0 0 15px rgb(2, 123, 252);
  border: inset rgb(2, 123, 252) 10px;
}

.circle p {
  font-size: 2rem;
}

.circlearea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.currentscore {
  font-size: 1.25rem;
}

.active {
  box-sizing: border-box;
  /* box-shadow: 0 0 25px greenyellow;
  border: 20px solid greenyellow; */
  background: url("assets/images/plant.svg");
}
.gameover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 95, 95, 0.8);
  width: 120vw;
  height: 120vh;
  position: fixed;
  overflow: hidden;
}

.gameoverbuttonwrapper {
  width: 100%;
  height: auto;
}
.gameoverbuttonwrapper button {
  width: 50px;
  height: 50px;
  float: right;
}

.gameovercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/images/background.jpeg);
  background-size: 45vw;
  height: 40vh;
  width: 40vw;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  text-shadow: 2px#5aa824, -2px#5aa824, 0 2#5aa824, 0 -2#5aa824, 1px 1#5aa824,
    -1px -1#5aa824, -1px 1#5aa824, 1px -1#5aa824;
}
