@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

body {
  font-family: "Odibee Sans", cursive;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

button {
  height: 10vh;
  width: 20vw;
  font-size: 2rem;
  font-family: "Odibee Sans", cursive;
  border: none;
  border-radius: 10px;
  margin: 0 20px;
  color: white;
  background-color: rgb(29, 29, 29);
}

button:hover {
  background-color: green;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: black;
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: black;
}

.circlearea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.currentscore {
  font-size: 1.25rem;
}
